# Compiled class files
*.class

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Eclipse files
.project
.classpath
.settings/

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Log files
*.log

# Temporary files
tmp/
